extends layout

block content
	div.container
		div.row
			center
				div.section-wall
					h1.section-title Registro geral
	div.container(style="margin-top:30px")
		div.row
			center
				div.section-wall
					h1 Escolha o intervalo para exibir os registros
					form(class='form-signin', action='/home/registro', method='GET')
						input(type='date', name='dataIn' class='form-control', placeholder='Data',required, autofocus)
						input(type='date', name='dataOut' class='form-control', placeholder='Data', autofocus)
						input(type='hidden', name='recente', class='form-control')
						button(class='btn btn-lg btn-primary btn-block', type='submit') Visualizar Registros
						span.clearfix
	if(registros.length > 0)
		div.container#register2-table-wrapper
			center
				table#register2-table
					thead
						tr
							th Dados
							each registro in registros
								th #{registro.data.toUTCString()}
					tbody
						tr
							td Leitos disponíveis
							each livre in livres
								td #{livre}
						tr
							td Leitos ocupados
							each ocupado in ocupados
								td #{ocupado}
						tr
							td Leitos reservados
							each reservado in reservados
								td #{reservado}
						tr
							td Leitos em manutenção
							each reservado in reservados
								td #{manutencao}
						tr
							td Total de leitos
							each reservado in reservados
								td #{total}
						if (user)
							if (user.permissao[4])
								tr
									td Ganho
									each registro in registros
										td R$ #{registro.ganho.toFixed(2)}
								tr
									td Gastos
									each registro in registros
										td R$ #{registro.gasto.toFixed(2)}
		div.container#register-table-wrapper
			center
				table#register-table
					thead
						tr
							th Leitos
							each registro in registros
								th #{registro.data.toUTCString()}
					tbody
						-for (var i = 0; i < leitos.length; ++i){
							tr
								td Leito #{leitos[i].cod_leito}
								each registro in registros
									td
										.dropdown
											button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown')
												| #{registro.estado[i]} 
											//if (user)
											//	if (user.permissao[5])
											ul.dropdown-menu
												li
													a(href='#' style='color:black') #{registro.ocupante[i].name}
												li
													a(href='#') #{registro.ocupante[i].acompanhante}
												li
													a(href='#') Ação 3
						-}
						

	