extends layout

block content
	div.container
		div.row
			center
				div.section-wall
					h1.section-title Solicitações de reservas
	div.container#folha-ce-table-wrapper
		center
			table#folha-ce-table.table-striped.table-bordered
				thead
					tr
						th(style='width:38%') Nome
						th(style='width:22%') E-mail
						th(style='width:10%') CPF
						th(style='width:10%') Data de Check-in
						th(style='width:10%') Data de Check-out
						th(style='width:10%') Reservar
				tbody
					each cadastro in cadastros
						tr
							td
								a(href='/home/registro/cadastro?_id=#{cadastro._id}', target='blank') #{cadastro.name}
							td #{cadastro.email}
							td #{cadastro.cpf}
							td #{cadastro.dateIn}
							td #{cadastro.dateOut}
							td
								form(class='form-signin', action='/home/reserva', method='POST')
									input(type='hidden', name='_id', value=cadastro._id)
									button(class='btn btn-lg btn-primary btn-block', type='submit') Reservar
									span.clearfix

	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				div.voltar-wall
					form(class='form-signup', action='/home', method='GET')
						button(class='btn btn-lg btn-primary btn-block', type='submit') Voltar
						span.clearfix
					#message
					if message
						h1.text-center.error-message #{message}
				

