extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				div.home-wall-1
					h1 Escolha o intervalo para exibir os registros
					form(class='form-signin', action='/home/gerente/registro', method='GET')
						input(type='date', name='dataIn' class='form-control', placeholder='Data',required, autofocus)
						input(type='date', name='dataOut' class='form-control', placeholder='Data',required, autofocus)
						input(type='hidden', name='recente', class='form-control')
						button(class='btn btn-lg btn-primary btn-block', type='submit') Visualizar Registros
						span.clearfix
	if(registros.length > 0)
		div.container#register-table-wrapper
			center
				table#register-table
					thead
						tr
							th Leitos
							each registro in registros
								th #{registro.data.toUTCString()}
					tbody
						-for (var i = 0; i < leito.length; ++i){
							tr
								td Leito #{leito[i].cod_leito}
								each registro in registros
									td
										.dropdown
											button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown')
												| #{registro.estado[i]} 
											ul.dropdown-menu
												li
													a(href='#' style='color:black') #{registro.ocupante[i].name}
												li
													a(href='#') #{registro.ocupante[i].acompanhante}
												li
													a(href='#') Ação 3
						-}

	