extends layout

block content
	//each cadastro, j in cadastros
	//	form(class='form-signin', action='/home/recepcao/checkin', method='POST')
	//		input(type='hidden', name='_id', value=cadastro._id)
	//		input(type='hidden', name='dateOut', value=cadastro.dateOut)
	//		input(type='hidden', name='dateIn', value=cadastro.dateIn)
	//		button(class='btn btn-lg btn-primary btn-block', type='submit') #{cadastro.name}
	//		span.clearfix
	h1.
		Realizar Check-Out Antecipado
	- for (var i = 0; i < cadastros.length; ++i){
		form(class='form-signin', action='/home/recepcao/checkout/antecipado', method='POST')
			input(type='hidden', name='cod_leito', value=leitos[i])
			input(type='hidden', name='dateOut', value=cadastros[i].dateOut)
			input(type='hidden', name='dateIn', value=cadastros[i].dateIn)
			button(class='btn btn-lg btn-primary btn-block', type='submit') #{cadastros[i].name} #{leitos[i]}
			span.clearfix 
	-}