extends layout

block content
	h1.
		#{titulo}
	div.container#reservas-table-wrapper
		center
			table#reservas-table
				thead
					tr
						th Nome
						th Leito
						th Data de Entrada
						th Data de Saida
						th #{botao}
				tbody
					- for (var i = 0; i < cadastros.length; ++i){
						tr
							td #{cadastros[i].name}
							td #{leitos[i]}
							td #{cadastros[i].dateIn}
							td #{cadastros[i].dateOut}
							td
								form(class='form-signin', action='/home/recepcao/' + '#{endereco}', method='POST')
									input(type='hidden', name='cod_leito', value=leitos[i])
									input(type='hidden', name='dateOut', value=cadastros[i].dateOut)
									input(type='hidden', name='dateIn', value=cadastros[i].dateIn)
									if (limpeza)
										if (limpeza[i] == 'sujo')
											button(class='btn btn-lg btn-warning btn-block', type='submit') #{botao}
										else
											button(class='btn btn-lg btn-primary btn-block', type='submit') #{botao}
									else
										button(class='btn btn-lg btn-primary btn-block', type='submit') #{botao}
									span.clearfix 
					-}
		
		
		
		
	