extends layout

block content
	div.container
		div.row
			center
				div.section-wall
					h1.section-title Dados para efetuar cobrança
	div.container#register-table-wrapper
		center
			table#register-table
				thead
					tr
						th //
						th //
				tbody
					tr
						td Nome
						td
							a(href='/home/registro/cadastro?_id=#{cadastro._id}', target='blank') #{cadastro.name}
					tr
						td Data de entrada
						td #{cadastro.dateIn}
					tr
						td Data de saida
						td #{cadastro.dateOut}
					tr
						td Data de entrada efetiva
						td #{cadastro.checkIn}
					tr
						td Data de saida efetiva
						td #{cadastro.checkOut}
					tr
						td Custo da estadia
						td R$ #{custo.toFixed(2)}
					tr
						form(class='form-signin', action='/home/recepcao/' + '#{endereco}' + '/confirmacao', method='POST')
							input(type='hidden', name='valor_previsto', value=custo)
							td Alterar custo
							td
								input.valor(type='text', name='valor', class='form-control')
							tr
								td
									select(name = 'tipo_pagamento', class = 'form-control')
										option(value = "gru") GRU
										option(value = "desconto") Desconto em folha
								td
									button(class='btn btn-lg btn-primary btn-block', type='submit') Confirmar
						span.clearfix
		