extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				div.home-wall-1
					h1 Cadastros
	div.container#reservas-table-wrapper
		center
			table#reservas-table
				thead
					tr
						th Nome
						th E-mail
						th CPF
						th Data de Check-in
						th Data de Check-out
						th Reservar
				tbody
					each cadastro, j in cadastros
						tr
							td #{cadastro.name}
							td #{cadastro.email}
							td #{cadastro.cpf}
							td #{cadastro.dateIn}
							td #{cadastro.dateOut}
							td
								form(class='form-signin', action='/home/reserva', method='POST')
									input(type='hidden', name='_id', value=cadastro._id)
									button(class='btn btn-lg btn-primary btn-block', type='submit') Reservar
									span.clearfix

	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				div.voltar-wall
					form(class='form-signup', action='/home', method='GET')
						button(class='btn btn-lg btn-primary btn-block', type='submit') Voltar
						span.clearfix
				



	//form(class='form-signin', action='/home/reserva', method='POST')
	//	input(type='hidden', name='_id', value=cadastro._id)
	//	button(class='btn btn-lg btn-primary btn-block', type='submit') #{cadastro.name} #{cadastro.dateIn} #{cadastro.dateOut}
	//	span.clearfix

