extends layout

block content
	div.container
		div.row
			center
				div.section-wall
					h1.section-title Solicitações de reservas
	div.container#folha-ce-table-wrapper
		center
			table#folha-ce-table.table-striped.table-bordered
				thead
					tr
						th Nome
						th Saram
						th CPF
						th Data de Entrada
						th Data de Saída
						th Motivo/Curso
						th Reservar
						th Rejeitar
				tbody
					each cadastro in cadastros
						tr
							td
								a(href='/home/registro/cadastro?_id=#{cadastro._id}', target='blank') #{cadastro.name}
							td #{cadastro.saram}
							td #{cadastro.cpf}
							td #{cadastro.dateIn}
							td #{cadastro.dateOut}
							td #{cadastro.curso}
							td
								form(class='form-signin', action='/home/reserva', method='POST')
									input(type='hidden', name='_id', value=cadastro._id)
									button(class='btn btn-lg btn-primary btn-block', type='submit') Reservar
									span.clearfix
							td
								form(class='form-signin', action='/home/reserva/cancelar', method='POST')
									input(type='hidden', name='_id', value=cadastro._id)
									button(class='btn btn-lg btn-danger btn-block', type='submit') Cancelar
									span.clearfix
				

