extends layout

block content
	div.container
		div.row
			center
				div.section-wall
					h1.section-title Dados de cadastro
	div.container.default-table-wrapper
		center
			table#folha-ce-table.table-striped.table-bordered
				tbody
					form(action='/home/dados/cadastro/editar', method='GET')
						tr
							td(colspan="2")
								input(type="hidden", name="_id", value="#{cadastro._id}")
								button.btn.btn-primary(type='submit') Editar dados
					tr
						td(style='width:30%') Nome
						td #{cadastro.name}
					tr
						td Nome de guerra
						td #{cadastro.name_guerra}
					tr
						td SARAM
						td #{cadastro.saram}
					tr
						td Identidade
						td #{cadastro.identidade}
					tr
						td Unidade
						td #{cadastro.unidade}
					tr
						td Endereço
						td #{cadastro.endereco}
					tr
						td Telefone
						td #{cadastro.telefone}
					tr
						td E-mail
						td #{cadastro.email}
					tr
						td CPF
						td #{cadastro.cpf}
					tr
						td Data de entrada
						td #{moment(cadastro.dateIn).format("DD/MM/YYYY")}
					tr
						td Data de saída
						td #{moment(cadastro.dateOut).format("DD/MM/YYYY")}
					tr
						td Estado
						td #{cadastro.estado}
					tr
						td Check-in
						td
							if(cadastro.checkIn)
								| #{moment(cadastro.checkIn).format("DD/MM/YYYY HH:mm:ss")}
							else
								| -----------------------------
					tr
						td Check-out
						td
							if(cadastro.checkOut)
								| #{moment(cadastro.checkOut).format("DD/MM/YYYY HH:mm:ss")}
							else
								| -----------------------------
					tr
						td Número de Dependetes
						td #{cadastro.dependente}
					tr
						td Posto/Graduação
						td #{cadastro.posto}
					tr
						td Nome do curso ou missão
						td #{cadastro.curso}
					tr
						td Solicitante
						td #{cadastro.solicitante}
					tr
						td Blacklist
						td
							form(action='/home/financeiro/blacklist', method='POST')
								input(type='hidden', name='tipo', value='adicionar')
								input(type='hidden', name='cpf', value=cadastro.cpf)
								input(type='hidden', name='name', value=cadastro.name)
								input(type='hidden', name='_id', value=cadastro._id)
								button.btn.btn-primary(type='submit') Adicionar à Blacklist

		