extends layout

block content
	div.container#reservas-table-wrapper
		center
			table#reservas-table
				thead
					tr
						th Cadastro
						th _id
						th Leito
						th Estado
						th Data de entrada
						th Data de saida
				tbody
					each cadastro in cadastros
						tr
							td
								a(href='/home/registro/cadastro?_id=#{cadastro._id}', target='blank') #{cadastro.name}
							td #{cadastro._id}
							td #{cadastro.leito}
							td #{cadastro.estado}
							td #{cadastro.dateIn}
							td #{cadastro.dateOut}
	