extends layout

block content

	-function chooseQuartoColor(leito_idx, num_leitos){
	- 	var ult_leito = leito_idx;
	-	var pri_leito = ult_leito-num_leitos+1;
	-	var todosocupaveis = true;
	-	var nenhumocupavel = true;
	- 	for(var i = pri_leito; i <= ult_leito; i++){
	-		if(leitos[i].ocupabilidade != 'inocupavel'){
	-			nenhumocupavel = false;
	-		}
	-		if(leitos[i].ocupabilidade == 'inocupavel'){
	-			todosocupaveis = false;
	-		}
	-	}
	-	if(todosocupaveis){
	-		return '#b3ffb3';
	-	}
	-	if(nenhumocupavel){
	-		return '#ff1a1a';
	-	}
	-	return '#ffff00';
	-}
	-function chooseLeitoColor(leito_idx){
	-   if(leitos[leito_idx].ocupabilidade == "normal"){
	-		return '#267326';
	-	}
	-	else if(leitos[leito_idx].ocupabilidade == "semi_ocupavel"){
	-		return '#ff9900';
	-	}
	-	else{
	-		return '#ff1a1a';
	-	}
	-}
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				div.home-wall-1
					h1 Quadro de manutenções

	div.container#manutencao-table-wrapper
		center
			table#manutencao-table.table-bordered
				thead
					tr
						th Prédio
						th Quartos
						th(colspan='50') 
				tbody
					each predio in ['A', 'B', 'C', 'D']
						tr
							td #{predio}
							-for(var idx = 0; idx < leitos.length; idx++){
								if(leitos[idx].cod_leito.charAt(0) == predio)
									if(idx == (leitos.length-1) || leitos[idx+1].cod_leito.slice(-1) == "a")
										//isso significa q estamos iterando pelo ultimo leito do quarto
										-var nleitos = leitos[idx].cod_leito.slice(-1).charCodeAt(0)-"a".charCodeAt(0)+1;
										-var letras= ['a','b','c','d','e'];
										td(style='background-color: #{chooseQuartoColor(idx, nleitos)}')
											.dropdown#manutencao-dropdown
												a.dropdown-toggle(role='button', data-target='#', href='#', data-toggle='dropdown', aria-haspopup="true", aria-expanded="false")
													| #{leitos[idx].cod_leito.slice(0,-1)}
												ul.dropdown-menu.multi-level(role='menu')
													-for(var leito_num = 0; leito_num < nleitos; leito_num++){
														//aqui, idx marca o indice do ultimo leito do quarto en questao
														//nas linhas abaixo, estamos iterando pelos outros leitos do mesmo quarto,
														//com indices diferences de idx
														-var leito_idx = idx - nleitos + leito_num +1;
														li.dropdown-submenu
															-var nome_leito = leitos[idx].cod_leito.slice(0,-1)+letras[leito_num]
															a(tabindex='-1' href='#' style='color:#{chooseLeitoColor(leito_idx)};font-weight: bold;') #{nome_leito}
															ul.dropdown-menu
																-for(var pane_idx = 0; pane_idx < leitos[leito_idx].manutencao.length; pane_idx++){
																	li
																		a(href='#') #{leitos[leito_idx].manutencao[pane_idx]}
																-}
																-if(leitos[leito_idx].manutencao.length == 0){
																	li
																		a(href='#') Sem panes
																-}
																li.divider
																li
																	a(href='/home/manutencao/quadro/alterar?leito_alterado=#{nome_leito}') Adicionar/Remover panes
													-}
									
							-}


