extends layout

block content
	div.container
		div.row
			center
				div.section-wall
					h1.section-title Escolha #{num_hospede} leito(s)

	div.container.default-table-wrapper
		center
			table#compact-table.table-bordered
				form(action='/home/' + '#{endereco}', method='POST')
					thead
						tr
							th(colspan="15")
								button(class='btn btn-lg btn-primary', type='submit',style='text-align:center;') Alocar
								span.clearfix
					tbody
						- var last_bloco = leitos[0].bloco;
						-for(var i = 0, aux_int = 0; i < leitos.length; i++, aux_int++){
							if (aux_int%15 == 0)
								tr
							if (last_bloco != leitos[i].bloco)
								tr
								- aux_int = 0;
							td(style="padding: 5px 0px 0px 0px; width: 6.66%;")
								input.alocacao-checkbox(type="checkbox", name='#{leitos[i].cod_leito}', id='#{leitos[i].cod_leito}')
								label(for='#{leitos[i].cod_leito}') #{leitos[i].cod_leito}
							- last_bloco = leitos[i].bloco;
						-}